@import "../../assets/sass/helpers/variables";

.form_register {
  display: flex;
  flex-direction: column;
  .form_input {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .form_button {
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .form_steps {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    .form_step {
      height: 30px; width: 30px;
      vertical-align:middle;
      line-height: 30px;
      background-color: $green_sea;
      border-radius: 100%;
      p {
        text-align: center;
        color: $white;
      }
    }
    .focus {
      background-color: $emeraud;
    }
  }
}



