@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  font-family: $mainFont ;
}
h1{
  font-size: 42px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 25px;
}

p{
  font-size: 15px;
  text-decoration: none;
}
.bold{
  font-weight: bold;
}

@media  screen and (max-width: 900px) {

    h1{
      font-size: 25px;
    }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 18px;
  }

}
