.form_project {
  display: flex;
  flex-direction: column;
  .form_input {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .form_select {
    margin-top: 20px;
    width: 60%;
  }
  .form_button  {
    margin-top: 30px;
  }
}

.optionClient {
  .form_select {
    margin-top: 20px;
  }
  .form_button {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  &_disabeld {
    display: none;
  }
}
