.home--accueil {
  background: url("../../img/back_accueil.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  top: 0px;
  height: 772px;
  max-height: 100vh;
  min-height: 100vh; }
  .home--accueil .center {
    position: absolute;
    top: calc(50% - 64px);
    left: 7%; }
    .home--accueil .center h1 {
      line-height: 4rem;
      color: #34495E; }
  .home--accueil .btn--rd {
    width: 200px; }
  .home--accueil .floatLeft {
    margin-top: 50px;
    float: left;
    width: 272px;
    cursor: pointer; }
    .home--accueil .floatLeft p {
      letter-spacing: 0.2rem;
      font-size: 16px; }
  .home--accueil .btn--explore {
    position: absolute;
    right: 61px;
    bottom: 30px;
    cursor: pointer; }
    .home--accueil .btn--explore a {
      display: flex;
      flex-direction: row; }
    .home--accueil .btn--explore p {
      letter-spacing: 0.2rem; }
    .home--accueil .btn--explore .fa-angle-down {
      align-self: center;
      font-size: 25px;
      margin-left: 10px; }
  .home--accueil .s-media-container {
    position: absolute;
    left: 7%;
    bottom: 30px;
    height: 50px;
    width: 200px; }
    .home--accueil .s-media-container ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly; }
      .home--accueil .s-media-container ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
        border: 2px solid #ffffff;
        border-radius: 2.5rem;
        cursor: pointer; }
        .home--accueil .s-media-container ul li i {
          color: #34495E;
          font-size: 25px; }

.a-propos {
  background: #2091DC;
  height: 772px;
  max-height: 100vh;
  min-height: 100vh; }
  .a-propos .btn--lg p {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer; }
  .a-propos h2 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    line-height: 4.5rem;
    margin-top: 50px; }
  .a-propos .col-xs-12:first-child {
    position: relative;
    top: 100px; }
  .a-propos .col-xs-12 p {
    text-align: center;
    width: 70%;
    margin: 25px auto;
    color: #fff;
    font-size: 18px;
    line-height: 2rem;
    margin-top: 50px; }
  .a-propos .col-xs-3 {
    height: 100px; }
    .a-propos .col-xs-3 p {
      text-align: center;
      color: #fff;
      margin-top: 30px;
      font-size: 18px;
      line-height: 1.3rem; }
    .a-propos .col-xs-3 img {
      display: flex;
      margin: 0 auto; }
  .a-propos .btn {
    position: relative; }
    .a-propos .btn p {
      margin: 0px auto; }

.comment {
  height: 772px;
  max-height: 100vh;
  min-height: 100vh; }
  .comment h2 {
    color: #434242;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .comment .title .subtitle {
    color: #2ECC71;
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 0.4rem;
    margin-top: 0; }
  .comment .title h2 {
    font-size: 32px;
    font-weight: bold;
    word-spacing: 0.4rem;
    text-transform: inherit;
    line-height: 2.5rem; }
  .comment .title p {
    font-size: 18px;
    line-height: 1.5rem;
    margin-top: 50px; }
  .comment .centrer {
    width: 70%;
    margin: 0 auto;
    top: calc(50% - 50px);
    position: relative; }
  .comment .center-up {
    top: 28%; }
  .comment .point {
    margin: 50px auto; }
    .comment .point:first-child {
      margin-top: 200px; }
    .comment .point .bullet {
      width: 60px;
      height: 60px;
      background: #2ECC71;
      border-radius: 50px;
      display: inline-block; }
      .comment .point .bullet p {
        color: #fff;
        text-align: center;
        font-size: 32px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center; }
    .comment .point .little-tittle {
      display: inline-block;
      width: 80%;
      margin: 0 0 20px 50px; }
      .comment .point .little-tittle p {
        font-size: 25px; }
    .comment .point .text {
      width: 80%;
      margin-left: 15%;
      font-size: 18px; }

.offre {
  background: url("../../img/offre.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  top: 0px;
  height: 772px;
  max-height: 100vh;
  min-height: 100vh; }
  .offre h3 {
    letter-spacing: 0.2rem;
    font-weight: bold; }
  .offre .text {
    font-size: 18px;
    line-height: 2rem;
    font-weight: bold; }
  .offre .btn--green {
    color: #ffffff;
    width: 181px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 0.1rem; }
  .offre .modal {
    position: relative;
    top: calc(50% - 150px);
    width: 60%;
    height: 350px;
    margin: 0 auto;
    background: #fff;
    text-align: center; }
    .offre .modal .title {
      padding: 80px 0 30px 0;
      color: #1ABC9C; }
    .offre .modal text {
      padding: 30px 0; }
    .offre .modal .btn {
      margin-top: 40px; }

@media screen and (max-width: 900px) {
  .a-propos .col-xs-12:first-child {
    position: relative;
    top: 10px; }
  .a-propos h1 {
    font-size: 25px; }
  .a-propos img {
    width: 50px; }
  .offre .modal {
    position: relative;
    top: calc(50% - 150px);
    width: 90%;
    height: 350px;
    margin: 0 auto;
    background: #fff;
    text-align: center; } }
