.fond {
  display: none;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.modal_ {
  display: none; }
  .modal_ .cross {
    position: absolute;
    color: #E74C3C;
    font-size: 20px;
    top: 15px;
    right: 15px;
    cursor: pointer; }
  .modal_ .titre {
    text-align: center;
    margin-top: 20px; }
  .modal_display {
    display: block; }
