.height_test {
  max-height: 100vh;
  min-height: 92vh; }

.inscription_connexion .header {
  display: flex;
  border: 4px solid #2ECC71; }

.button_login {
  width: 50%;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  cursor: pointer; }
  .button_login p {
    color: #2ECC71; }

.focus {
  background-color: #2ECC71;
  cursor: default; }
  .focus p {
    color: #fff; }
