.colone {
  height: 95%;
  width: 300px;
  background: #95A5A6;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  margin: 10px;
  overflow-y: scroll;

}



.colone-add {
  height: 100px;
  width: 300px;
  background: #95A5A6;
  opacity: 0.8;
  border-radius: 15px;
  position: absolute;
  display: inline-block;
  margin: 10px; }
  .colone-add .circle {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px #fff solid;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px); }
    .colone-add .circle p {
      font-size: 40px;
      color: #fff;
      text-align: center;
      line-height: 60px; }
