.header-profil {
  position: relative;
  background: #95A5A6;
  height: 150px;
  width: 100%; }
  .header-profil .row {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px; }
    .header-profil .row .col-xs-6 {
      display: inline-block;
      position: relative; }
      .header-profil .row .col-xs-6 .button {
        text-align: center;
        position: absolute;
        bottom: 0px;
        width: 150px; }
      .header-profil .row .col-xs-6 .left .button {
        position: absolute;
        left: 0px; }
      .header-profil .row .col-xs-6 .rigth .button {
        position: absolute;
        right: 0px; }

.form-profil {
  width: 500px;
  text-align: center;
  margin: 40px auto; }

.form_register {
  display: flex;
  flex-direction: column; }
  .form_register .form_input {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%); }
  .form_register .form_button {
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%); }

.form_part {
  display: none; }

.part_focus {
  display: contents; }

.form_steps {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; }
  .form_steps .form_step {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    line-height: 30px;
    background-color: #1ABC9C;
    border-radius: 100%; }
    .form_steps .form_step p {
      text-align: center;
      color: #fff; }
  .form_steps .focus {
    background-color: #2ECC71; }
