/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.center {
  margin: 0 auto; }

.row_first {
  position: absolute;
  top: 150px;
  width: 100%; }
  .row_first .col-xs-3 {
    margin-top: 20px; }

body {
  font-family: "Montserrat"; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 25px; }

p {
  font-size: 15px;
  text-decoration: none; }

.bold {
  font-weight: bold; }

.bg--grey {
  background: grey; }

.bg--blue {
  background: blue; }

.dash_back {
  background: url("../../../assets/img/back.png");
  background-size: cover; }

.btn--lg {
  margin: 0px auto;
  text-align: center;
  width: 301px;
  height: 63px;
  border: 3px solid;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn--md {
  margin: 10px auto;
  text-align: center;
  line-height: 41px;
  width: 151px;
  height: 41px;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn--rd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  line-height: 41px;
  width: 200px;
  height: 55px;
  border: 2px solid;
  border-radius: 2.5rem; }

.btn a {
  text-decoration: none; }

.btn--black {
  border-color: #434242; }
  .btn--black p {
    color: #434242; }

.btn--green {
  background: #2ECC71;
  border-color: #2ECC71; }
  .btn--green p {
    color: #fff; }

.btn--red {
  background: #E74C3C;
  border-color: #E74C3C; }
  .btn--red p {
    color: #fff; }

.btn--light_grey {
  background: #ECF0F1;
  border-color: #434242; }
  .btn--light_grey p {
    color: #434242; }

.btn--green_sea {
  background: #fff;
  border-color: #1ABC9C; }
  .btn--green_sea p {
    color: #1ABC9C; }

.btn--blue {
  background: #2091DC;
  border-color: #2091DC;
  color: #fff; }
  .btn--blue p {
    color: #fff; }

.btn--white {
  background: none;
  border-color: #fff;
  color: #fff; }
  .btn--white p {
    color: #fff; }

.card.is_open {
  background: #fff; }

.card {
  position: relative;
  background: #fff;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px 0 50px;
  box-shadow: rgba(88, 88, 88, 0.5) 5px 13px 26px 6px;
  max-width: 90%; }
  .card .cross {
    position: absolute;
    font-size: 25px;
    top: 20px;
    right: 30px; }
  .card .header {
    margin-top: 5px;
    text-align: center; }
  .card .content {
    margin-top: 5px; }
  .card .footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px; }
    .card .footer button {
      margin: 10px 15px;
      cursor: pointer; }
  .card .circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px #95A5A6 solid;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px); }
    .card .circle p {
      font-size: 80px;
      color: #95A5A6;
      text-align: center;
      line-height: 95px;
      cursor: pointer; }

.containeur_colone {
  width: auto;
  min-width: 100%;
  height: 80%;
  top: 10%;
  position: absolute;
  overflow-y: hidden;
  overflow-x: scroll; }

.little {
  margin: 10px 0;
  position: relative;
  background: #fff;
  width: 250px;
  height: auto;
  min-height: 60px;
  top: 5%;
  /* top: 18%; */
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  box-shadow: rgba(88, 88, 88, 0.5) 5px 13px 26px 6px; }
  .little.add {
    background: none;
    box-shadow: none; }
    .little.add .circle {
      border-color: #fff;
      width: 50px;
      height: 50px;
      left: calc(50% - 25px);
      top: calc(50% - 25px); }
      .little.add .circle p {
        position: relative;
        color: #ffffff;
        font-size: 40px;
        line-height: 50px; }
  .little .text {
    position: absolute;
    width: 100%;
    height: 100%; }
    .little .text p {
      position: relative;
      text-align: center;
      padding: 20px 0px; }

@media screen and (max-width: 900px) {
  .card {
    height: 100px; }
    .card .circle {
      border-color: #434242;
      width: 50px;
      height: 50px;
      left: calc(50% - 25px);
      top: calc(50% - 25px); }
      .card .circle p {
        position: relative;
        color: #434242;
        font-size: 40px;
        line-height: 50px; } }

.label {
  width: 84px;
  height: 24px;
  border: 2px solid;
  border-radius: 4px;
  text-align: center;
  line-height: 24px;
  margin: 10px;
  display: inline-block; }
  .label--black {
    background: #434242;
    border-color: #434242;
    color: #fff; }
  .label--blue {
    background: #2091DC;
    border-color: #2091DC;
    color: #fff; }
  .label--green {
    background: #2ECC71;
    border-color: #2ECC71;
    color: #fff; }
  .label--red {
    background: #E74C3C;
    border-color: #E74C3C;
    color: #fff; }
  .label--light_grey {
    background: #ECF0F1;
    border-color: #ECF0F1;
    color: #434242; }
  .label--green_sea {
    background: #fff;
    border-color: #1ABC9C;
    color: #1ABC9C; }

.checkbox-style [type="checkbox"]:not(:checked),
.checkbox-style [type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

.checkbox-style [type="checkbox"]:not(:checked) + label,
.checkbox-style [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  font-family: "Font Awesome 5 Free"; }

.checkbox-style [type="checkbox"]:not(:checked) + label:before,
.checkbox-style [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #E74C3C;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

.checkbox-style [type="checkbox"]:not(:checked) + label:after,
.checkbox-style [type="checkbox"]:checked + label:after {
  content: '\f00c';
  position: absolute;
  top: 2px;
  left: .22em;
  font-size: 13px;
  padding-top: 2px;
  color: black;
  transition: all .2s;
  background: #ECF0F1;
  font-weight: 900; }

.checkbox-style [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.checkbox-style [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

.radio-style [type="radio"]:not(:checked),
.radio-style [type="radio"]:checked {
  position: absolute;
  left: -9999px; }

.radio-style [type="radio"]:not(:checked) + label,
.radio-style [type="radio"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer; }

.radio-style [type="radio"]:not(:checked) + label:before,
.radio-style [type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #34495E;
  background: #fff;
  border-radius: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

.radio-style [type="radio"]:not(:checked) + label:after,
.radio-style [type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  left: 6.5px;
  top: 6.5px;
  background-color: #E74C3C;
  transition: all .2s;
  width: 6px;
  height: 6px;
  border-radius: 100%; }

.radio-style [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.radio-style [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

.form_input {
  padding: 10px 0 10px 10px;
  width: 50%; }
  .form_input:focus {
    outline: none;
    border: 3px solid #434242; }

.form_button:focus {
  outline: none; }

.form_button {
  cursor: pointer; }
  .form_button :focus {
    outline: none; }

.form_button:disabled {
  cursor: default;
  opacity: 0.5; }

.form_error {
  background-color: #E74C3C;
  width: 75%;
  margin: 15px auto auto auto; }
  .form_error p {
    text-align: center;
    padding: 10px 10px;
    white-space: pre-line; }

.form_select {
  margin: auto;
  width: 75%; }

header {
  position: absolute;
  width: 100%; }

.icone_profil {
  display: flex; }
  .icone_profil p {
    cursor: pointer;
    padding: 0 10px; }

.menu_profil {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px; }
  .menu_profil a {
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    color: black; }
    .menu_profil a:hover {
      color: #2ECC71; }

.header-main {
  z-index: 100;
  height: 70px; }
  .header-main .nav__item {
    position: absolute;
    right: 29px;
    margin-top: 10px; }
  .header-main .nav__list .login {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem; }
    .header-main .nav__list .login p {
      font-size: 16px;
      font-weight: bold; }
  .header-main img {
    width: 190px;
    height: 30px;
    margin-top: 17px; }

footer {
  position: relative;
  top: 100%;
  width: 100%;
  height: 8vh;
  background: #34495E; }
  footer img {
    width: 190px;
    height: 30px;
    margin-top: 17px; }
  footer p {
    color: white;
    line-height: 70px;
    text-align: center;
    font-size: 13px; }
  footer .s-media-container {
    position: absolute;
    right: 43px;
    bottom: 25px;
    height: 30px;
    width: 125px; }
    footer .s-media-container ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly; }
      footer .s-media-container ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 29px;
        width: 29px;
        border: 2px solid #ffffff;
        border-radius: 2.5rem;
        cursor: pointer; }
        footer .s-media-container ul li i {
          color: #fff;
          font-size: 15px; }
  @media screen and (max-width: 900px) {
    footer .row_first {
      overflow-y: scroll;
      height: calc(100% - 150px);
      position: absolute;
      padding-bottom: 100px; } }

.grid {
  display: flex; }

.wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row.reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

[class*="col-xs"] {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs-1 {
  -webkit-flex-basis: 8.3333333333%;
  -moz-flex-basis: 8.3333333333%;
  -ms-flex-preferred-size: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.col-xs-2 {
  -webkit-flex-basis: 16.6666666667%;
  -moz-flex-basis: 16.6666666667%;
  -ms-flex-preferred-size: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.col-xs-3 {
  -webkit-flex-basis: 25%;
  -moz-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -webkit-flex-basis: 33.3333333333%;
  -moz-flex-basis: 33.3333333333%;
  -ms-flex-preferred-size: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.col-xs-5 {
  -webkit-flex-basis: 41.6666666667%;
  -moz-flex-basis: 41.6666666667%;
  -ms-flex-preferred-size: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.col-xs-6 {
  -webkit-flex-basis: 50%;
  -moz-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -webkit-flex-basis: 58.3333333333%;
  -moz-flex-basis: 58.3333333333%;
  -ms-flex-preferred-size: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.col-xs-8 {
  -webkit-flex-basis: 66.6666666667%;
  -moz-flex-basis: 66.6666666667%;
  -ms-flex-preferred-size: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.col-xs-9 {
  -webkit-flex-basis: 75%;
  -moz-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -webkit-flex-basis: 83.3333333333%;
  -moz-flex-basis: 83.3333333333%;
  -ms-flex-preferred-size: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.col-xs-11 {
  -webkit-flex-basis: 91.6666666667%;
  -moz-flex-basis: 91.6666666667%;
  -ms-flex-preferred-size: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.col-xs-12 {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem; }
  [class*="col-sm"] {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm-1 {
    -webkit-flex-basis: 8.3333333333%;
    -moz-flex-basis: 8.3333333333%;
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-sm-2 {
    -webkit-flex-basis: 16.6666666667%;
    -moz-flex-basis: 16.6666666667%;
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-sm-3 {
    -webkit-flex-basis: 25%;
    -moz-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-flex-basis: 33.3333333333%;
    -moz-flex-basis: 33.3333333333%;
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-sm-5 {
    -webkit-flex-basis: 41.6666666667%;
    -moz-flex-basis: 41.6666666667%;
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-sm-6 {
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-flex-basis: 58.3333333333%;
    -moz-flex-basis: 58.3333333333%;
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-sm-8 {
    -webkit-flex-basis: 66.6666666667%;
    -moz-flex-basis: 66.6666666667%;
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-sm-9 {
    -webkit-flex-basis: 75%;
    -moz-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-flex-basis: 83.3333333333%;
    -moz-flex-basis: 83.3333333333%;
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-sm-11 {
    -webkit-flex-basis: 91.6666666667%;
    -moz-flex-basis: 91.6666666667%;
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-sm-12 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -moz-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .first-sm {
    order: -1; }
  .last-sm {
    order: 1; } }

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem; }
  [class*="col-md"] {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md-1 {
    -webkit-flex-basis: 8.3333333333%;
    -moz-flex-basis: 8.3333333333%;
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-md-2 {
    -webkit-flex-basis: 16.6666666667%;
    -moz-flex-basis: 16.6666666667%;
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-md-3 {
    -webkit-flex-basis: 25%;
    -moz-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-flex-basis: 33.3333333333%;
    -moz-flex-basis: 33.3333333333%;
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-md-5 {
    -webkit-flex-basis: 41.6666666667%;
    -moz-flex-basis: 41.6666666667%;
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-md-6 {
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-flex-basis: 58.3333333333%;
    -moz-flex-basis: 58.3333333333%;
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-md-8 {
    -webkit-flex-basis: 66.6666666667%;
    -moz-flex-basis: 66.6666666667%;
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-md-9 {
    -webkit-flex-basis: 75%;
    -moz-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-flex-basis: 83.3333333333%;
    -moz-flex-basis: 83.3333333333%;
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-md-11 {
    -webkit-flex-basis: 91.6666666667%;
    -moz-flex-basis: 91.6666666667%;
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-md-12 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-1 {
    margin-left: 8.3333333333%; }
  .col-md-offset-2 {
    margin-left: 16.6666666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.3333333333%; }
  .col-md-offset-5 {
    margin-left: 41.6666666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.3333333333%; }
  .col-md-offset-8 {
    margin-left: 66.6666666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.3333333333%; }
  .col-md-offset-11 {
    margin-left: 91.6666666667%; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -moz-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .first-md {
    order: -1; }
  .last-md {
    order: 1; } }

@media screen and (max-width: 900px) {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; } }

.home--accueil {
  background: url("../../img/back_accueil.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  top: 0px;
  height: 772px;
  max-height: 100vh;
  min-height: 100vh; }
  .home--accueil .center {
    position: absolute;
    top: calc(50% - 64px);
    left: 7%; }
    .home--accueil .center h1 {
      line-height: 4rem;
      color: #34495E; }
  .home--accueil .btn--rd {
    width: 200px; }
  .home--accueil .floatLeft {
    margin-top: 50px;
    float: left;
    width: 272px;
    cursor: pointer; }
    .home--accueil .floatLeft p {
      letter-spacing: 0.2rem;
      font-size: 16px; }
  .home--accueil .btn--explore {
    position: absolute;
    right: 61px;
    bottom: 30px;
    cursor: pointer; }
    .home--accueil .btn--explore a {
      display: flex;
      flex-direction: row; }
    .home--accueil .btn--explore p {
      letter-spacing: 0.2rem; }
    .home--accueil .btn--explore .fa-angle-down {
      align-self: center;
      font-size: 25px;
      margin-left: 10px; }
  .home--accueil .s-media-container {
    position: absolute;
    left: 7%;
    bottom: 30px;
    height: 50px;
    width: 200px; }
    .home--accueil .s-media-container ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly; }
      .home--accueil .s-media-container ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
        border: 2px solid #ffffff;
        border-radius: 2.5rem;
        cursor: pointer; }
        .home--accueil .s-media-container ul li i {
          color: #34495E;
          font-size: 25px; }

.a-propos {
  background: #2091DC;
  height: 772px;
  max-height: 100vh;
  min-height: 100vh; }
  .a-propos .btn--lg p {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer; }
  .a-propos h2 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    line-height: 4.5rem;
    margin-top: 50px; }
  .a-propos .col-xs-12:first-child {
    position: relative;
    top: 100px; }
  .a-propos .col-xs-12 p {
    text-align: center;
    width: 70%;
    margin: 25px auto;
    color: #fff;
    font-size: 18px;
    line-height: 2rem;
    margin-top: 50px; }
  .a-propos .col-xs-3 {
    height: 100px; }
    .a-propos .col-xs-3 p {
      text-align: center;
      color: #fff;
      margin-top: 30px;
      font-size: 18px;
      line-height: 1.3rem; }
    .a-propos .col-xs-3 img {
      display: flex;
      margin: 0 auto; }
  .a-propos .btn {
    position: relative; }
    .a-propos .btn p {
      margin: 0px auto; }

.comment {
  height: 772px;
  max-height: 100vh;
  min-height: 100vh; }
  .comment h2 {
    color: #434242;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .comment .title .subtitle {
    color: #2ECC71;
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 0.4rem;
    margin-top: 0; }
  .comment .title h2 {
    font-size: 32px;
    font-weight: bold;
    word-spacing: 0.4rem;
    text-transform: inherit;
    line-height: 2.5rem; }
  .comment .title p {
    font-size: 18px;
    line-height: 1.5rem;
    margin-top: 50px; }
  .comment .centrer {
    width: 70%;
    margin: 0 auto;
    top: calc(50% - 50px);
    position: relative; }
  .comment .center-up {
    top: 28%; }
  .comment .point {
    margin: 50px auto; }
    .comment .point:first-child {
      margin-top: 200px; }
    .comment .point .bullet {
      width: 60px;
      height: 60px;
      background: #2ECC71;
      border-radius: 50px;
      display: inline-block; }
      .comment .point .bullet p {
        color: #fff;
        text-align: center;
        font-size: 32px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center; }
    .comment .point .little-tittle {
      display: inline-block;
      width: 80%;
      margin: 0 0 20px 50px; }
      .comment .point .little-tittle p {
        font-size: 25px; }
    .comment .point .text {
      width: 80%;
      margin-left: 15%;
      font-size: 18px; }

.offre {
  background: url("../../img/offre.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  top: 0px;
  height: 772px;
  max-height: 100vh;
  min-height: 100vh; }
  .offre h3 {
    letter-spacing: 0.2rem;
    font-weight: bold; }
  .offre .text {
    font-size: 18px;
    line-height: 2rem;
    font-weight: bold; }
  .offre .btn--green {
    color: #ffffff;
    width: 181px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 0.1rem; }
  .offre .modal {
    position: relative;
    top: calc(50% - 150px);
    width: 60%;
    height: 350px;
    margin: 0 auto;
    background: #fff;
    text-align: center; }
    .offre .modal .title {
      padding: 80px 0 30px 0;
      color: #1ABC9C; }
    .offre .modal text {
      padding: 30px 0; }
    .offre .modal .btn {
      margin-top: 40px; }

@media screen and (max-width: 900px) {
  .a-propos .col-xs-12:first-child {
    position: relative;
    top: 10px; }
  .a-propos h1 {
    font-size: 25px; }
  .a-propos img {
    width: 50px; }
  .offre .modal {
    position: relative;
    top: calc(50% - 150px);
    width: 90%;
    height: 350px;
    margin: 0 auto;
    background: #fff;
    text-align: center; } }

.colone {
  height: 95%;
  width: 300px;
  background: #95A5A6;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  margin: 10px; }

.colone-add {
  height: 100px;
  width: 300px;
  background: #95A5A6;
  opacity: 0.8;
  border-radius: 15px;
  position: absolute;
  display: inline-block;
  margin: 10px; }
  .colone-add .circle {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px #fff solid;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px); }
    .colone-add .circle p {
      font-size: 40px;
      color: #fff;
      text-align: center;
      line-height: 60px; }

.header-profil {
  position: relative;
  background: #95A5A6;
  height: 150px;
  width: 100%; }
  .header-profil .row {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px; }
    .header-profil .row .col-xs-6 {
      display: inline-block;
      position: relative; }
      .header-profil .row .col-xs-6 .button {
        text-align: center;
        position: absolute;
        bottom: 0px;
        width: 150px; }
      .header-profil .row .col-xs-6 .left .button {
        position: absolute;
        left: 0px; }
      .header-profil .row .col-xs-6 .rigth .button {
        position: absolute;
        right: 0px; }

.form-profil {
  width: 500px;
  text-align: center;
  margin: 40px auto; }

.form_register {
  display: flex;
  flex-direction: column; }
  .form_register .form_input {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%); }
  .form_register .form_button {
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%); }

.form_part {
  display: none; }

.part_focus {
  display: contents; }

.form_steps {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; }
  .form_steps .form_step {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    line-height: 30px;
    background-color: #1ABC9C;
    border-radius: 100%; }
    .form_steps .form_step p {
      text-align: center;
      color: #fff; }
  .form_steps .focus {
    background-color: #2ECC71; }

.height_test {
  max-height: 100vh;
  min-height: 92vh; }

.inscription_connexion .header {
  display: flex;
  border: 4px solid #2ECC71; }

.button_login {
  width: 50%;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  cursor: pointer; }
  .button_login p {
    color: #2ECC71; }

.focus {
  background-color: #2ECC71;
  cursor: default; }
  .focus p {
    color: #fff; }

.fond {
  display: none;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.modal_ {
  display: none; }
  .modal_ .cross {
    position: absolute;
    color: #E74C3C;
    font-size: 20px;
    top: 15px;
    right: 15px;
    cursor: pointer; }
  .modal_ .titre {
    text-align: center;
    margin-top: 20px; }
  .modal_display {
    display: block; }

.thumbnail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.card {
  background-repeat: repeat;
  background-position: bottom;
  background-size: contain; }
