@import "../../assets/sass/helpers/variables";

.component_card {
  position: absolute;
  width: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: rgba(88, 88, 88, 0.5) 5px 13px 26px 6px;
  background-color: $white;
}

@media  screen and (max-width: 900px) {


  .component_card {
    width: 95%;
  }
}