.modal {
  position: absolute;
  width: 480px; height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px 0 50px ;
  box-shadow: rgba(88, 88, 88, 0.5) 5px 13px 26px 6px;

  .cross {
    position: absolute;
    font-size: 25px;
    top: 20px;
    right: 30px;
  }

  .header {
    margin-top: 70px;
  }

  .content {
    margin-top: 30px;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
    button {
      margin: 10px 15px;
      cursor:pointer;
    }
  }
}


