@import "../../assets/sass/helpers/variables";

.form_register {
  display: flex;
  flex-direction: column;
  .form_input {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .form_button {
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
