footer{
  position: relative;
  top: 100%;
  width: 100%;
  height: 9vh;
  background: $dark_blue;

  img{
    width: 190px;
    height: 30px;
    margin-top: 17px;
  }
  p{
    color: white;
    line-height: 70px;
    text-align: center;
    font-size: 13px;
  }

  .s-media-container {
    position: absolute;
    right: 43px;
    bottom: 25px;
    height: 30px;
    width: 125px;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 29px;
        width: 29px;
        border: 2px solid #ffffff;
        border-radius: 2.5rem;
        cursor: pointer;

        i {
          color: #fff;
          font-size: 15px;
        }
      }
    }
  }


}
@media  screen and (max-width: 900px) {
  footer{
    height: auto;
    .row_first{
      overflow-y: scroll;
      height: calc(100% - 150px);
      position: absolute;
      padding-bottom: 100px;
    }
    .s-media-container {
       position: relative;
      right: 0;
      padding-top: 20px;
      bottom: 25px;
       height: auto;
      width: 125px;
      margin: 0 auto;
    }
    img{
      display: flex;
      margin: 0 auto;
    }
  }

}
