header {
  position: absolute;
  width: 100%;
}
.icone_profil {
  display: flex;
  p {
    cursor: pointer;
    padding: 0 10px;
  }
}

.menu_profil {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(88, 88, 88, 0.5) 5px 13px 26px 6px;
  a {
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    &:hover {
      color: $emeraud;
    }
  }
}
.header-main {
  z-index: 100;
  height: 70px;

  .nav {
    &__item {
      position: absolute;
      right: 29px;
      margin-top: 25px;
    }

    &__list {

      .login {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

        p {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }

  img {
    width: 190px;
    height: 30px;
    margin-top: 17px;
  }

}

@media  screen and (max-width: 900px) {

.header-main {
    img {
      width: 125px;
      height: 30px;
      margin-top: 17px;
    }
  .btn--rd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px auto;
    line-height: 41px;
    width: 131px;
    height: 30px;
    border: 2px solid;
    border-radius: 2.5rem;
  }
}
}