@import "../helpers/variables";

.home--accueil {
  background: url("../../img/back_accueil.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  //position: absolute;
  top: 0px;
  height: 772px;
  max-height: 100vh;
  min-height: 100vh;

  .center {
    position: absolute;
    top: calc(50% - 64px);
    left: 7%;

    h1 {
      line-height: 4rem;
      color: $dark_blue;
    }
  }

  .btn--rd {
    width: 200px;
  }

  .floatLeft {
    margin-top: 50px;
    float: left;
    width: 272px;
    cursor: pointer;

    p {
      letter-spacing: 0.2rem;
      font-size: 16px;
    }
  }

  .btn--explore {
    position: absolute;
    right: 61px;
    bottom: 30px;
    cursor: pointer;

    a {
      display: flex;
      flex-direction: row;
    }

    p {
      letter-spacing: 0.2rem;
    }

    .fa-angle-down {
      align-self: center;
      font-size: 25px;
      margin-left: 10px;
    }
  }

  .s-media-container {
    position: absolute;
    left: 7%;
    bottom: 30px;
    height: 50px;
    width: 200px;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
        border: 2px solid #ffffff;
        border-radius: 2.5rem;
        cursor: pointer;

        i {
          color: $dark_blue;
          font-size: 25px;
        }
      }
    }
  }
}

.a-propos {
  background: $blue;
  height: 772px;
  max-height: 100vh;
  min-height: 100vh;

  .btn--lg {

    p {
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
    }

  }

  h2 {
    color: $white;
    text-align: center;
    position: relative;
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    line-height: 4.5rem;
    margin-top: 50px;
  }

  .col-xs-12 {
    &:first-child {
      position: relative;
      top: 100px;

    }

    p {
      text-align: center;
      width: 70%;
      margin: 25px auto;
      color: $white;
      font-size: 18px;
      line-height: 2rem;
      margin-top: 50px;

    }
  }

  .col-xs-3 {
    height: 100px;

    p {
      text-align: center;
      color: $white;
      margin-top: 30px;
      font-size: 18px;
      line-height: 1.3rem;
    }

    img {
      display: flex;
      margin: 0 auto;
    }
  }

  .btn {
    position: relative;

    p {
      margin: 0px auto;
    }
  }
}

.comment {
  height: 772px;
  max-height: 100vh;
  min-height: 100vh;


  h2 {
    color: $black;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .title {
    .subtitle {
      color: $emeraud;
      margin-bottom: 20px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      word-spacing: 0.4rem;
      margin-top: 0;
    }

    h2 {
      font-size: 32px;
      font-weight: bold;
      word-spacing: 0.4rem;
      text-transform: inherit;
      line-height: 2.5rem;
    }

    p {
      font-size: 18px;
      line-height: 1.5rem;
      margin-top: 50px;
    }
  }

  .centrer {
    width: 70%;
    margin: 0 auto;
    top: calc(50% - 50px);
    position: relative;
  }

  .center-up{
    top: 28%;
  }

  .point {
    margin: 50px auto;

    &:first-child {
      margin-top: 200px;
    }

    .bullet {
      width: 60px;
      height: 60px;
      background: $emeraud;
      border-radius: 50px;
      display: inline-block;

      p {
        color: $white;
        text-align: center;
        font-size: 32px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }

    .little-tittle {
      display: inline-block;
      width: 80%;
      margin: 0 0 20px 50px;

      p{
        font-size: 25px;
      }
    }

    .text {
      width: 80%;
      margin-left: 15%;
      font-size: 18px;
    }
  }
}

.offre {
  background: url("../../img/offre.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  //position: absolute;
  top: 0px;
  height: 772px;
  max-height: 100vh;
  min-height: 100vh;

  h3{
    letter-spacing: 0.2rem;
    font-weight: bold;
  }

  .text{
    font-size: 18px;
    line-height: 2rem;
    font-weight: bold;
  }

  .btn--green{
    color: #ffffff;
    width: 181px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  .modal {
    position: relative;
    top: calc(50% - 150px);
    width: 60%;
    height: 350px;
    margin: 0 auto;
    background: $white;
    text-align: center;

    .title {
      padding: 80px 0 30px 0;
      color: $green_sea;
    }

    text {
      padding: 30px 0;
    }

    .btn {
      margin-top: 40px;
    }
  }
}

@media  screen and (max-width: 1200px) {
  .a-propos {
    min-height: 115vh;
}
  .a-propos{

    img{

      width: 50px;
    }
  }
}
@media  screen and (max-width: 900px) {
  .a-propos .col-xs-12:first-child {
    position: relative;
    top: 10px;
  }

  .a-propos{
    h1{
      font-size: 25px;
      line-height: 35px;
    }
    h2{
      font-size: 20px;
      line-height: 32px;
    }
    img{

      width: 50px;
    }
  }
  .offre .modal {
    position: relative;
    top: calc(50% - 200px);
    width: 90%;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
  }
  .a-propos,.comment {
    min-height: 180vh;
  }
  .home--accueil .s-media-container {
   display: none;
  }
.home--accueil .btn--explore {
  right: calc(50% - 100px);
  }
}