@import "../helpers/variables";

.fond {
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  position:absolute ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project {
  cursor: pointer;
}
.modal_ {
  .cross {
    position: absolute;
    color: $red;
    font-size: 20px;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  .titre {
    text-align: center;
    margin-top: 20px;
  }
}

.project{
  .card{
    h3{
    position: absolute;
    top: calc(50% - 12.5px);
    text-align: center;
    width: 100%;
    left: 0px;
    }
  }
  .statut{
    p{
      text-align: right;
    }
  }
.timeline{
    position: absolute;
    bottom: 0px;
    display: flex;
    left: 13%;
    margin: 0 auto;
    align-items: center;
    align-content: center;
  p{
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: 0px;
  }
}
}