@import "../helpers/variables";
.height_test{
  max-height: 100vh;
  min-height: 92vh;
}

.inscription_connexion {
  .header {
    display: flex;
    border: 4px solid $emeraud;
  }
}

.button_login {
  width: 50%;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  cursor: pointer;
  p {
    color : $emeraud;
  }
}

.focus {
  background-color: $emeraud;
  cursor: default;
  p{
    color: $white;
  }
}

