@import "../helpers/variables";

.colone{
  height: 95%;
  width: 300px;
  background: $dark_grey;
  border-radius: 15px;
  position: relative;
  float: left;
  //top: 100px;
  margin: 10px;
  overflow-y: scroll;
  .add_task {
    width: 10px;
    left: 10px;
    border: 1px solid red;
  }
  h3{

    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
}

.create_spring {
  display: flex;
  position: absolute;
  top:7%;
  justify-content: center;
  align-content: center;
  .circle{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px black solid;
    margin-left: 10px;
    p{
      font-size:  20px;
      color:black;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
    }
  }
}
.colone-add{
  height: 100px;
  width: 300px;
  background: $dark_grey;
  opacity: 0.8;
  border-radius: 15px;
  position: absolute;
  display: inline-block;
  //top: 100px;
  margin: 10px;
  .circle{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px #fff solid;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    p{
      font-size: 40px;
      color: #fff;
      text-align: center;
      line-height: 60px;
      cursor: pointer;
    }
  }

}
.container_width{
  width: fit-content;
  min-width: 1000px;
  height: 100%;

}