@import "../helpers/variables";

.header-profil {
  position: relative;
  background: $dark_grey;
  height: 150px;
  width: 100%;

  .row {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;

    .col-xs-6 {
      display: inline-block;
      position: relative;

      .button {

        text-align: center;
        position: absolute;
        bottom: 0;
        width: 150px;

      }

      .left {
        .button {
          position: absolute;
          left: 0;
        }
      }

      .rigth {
        .button {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

.form_steps {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .form_step {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    line-height: 30px;
    background-color: $green_sea;
    border-radius: 100%;

    p {
      text-align: center;
      color: $white;
    }
  }

  .focus {
    background-color: $emeraud;
  }
}
