

//.little{
//
//  margin: 10px 0;
//  position: relative;
//  background: #fff;
//  width: 200px;
//  height: auto;
//  min-height: 50px;
//  top: 5%;
//  /* top: 18%; */
//  left: 50%;
//  transform: translate(-50%, -50%);
//  padding: 10px 30px 0 50px;
//  box-shadow: rgba(88, 88, 88, 0.5) 5px 13px 26px 6px;
//}
