
.label{
  width:84px;
  height: 24px;
  border: 2px solid;
  border-radius: 4px;
  text-align: center;
  line-height: 24px;
  margin: 10px;
  display: inline-block;
  &--black{
    background: $black;
    border-color: $black;
    color: $white;
  }
  &--blue{
    background: $blue;
    border-color: $blue;
    color: $white;
  }
  &--green{
    background: $emeraud;
    border-color: $emeraud;
    color: $white;
  }
  &--red{
    background: $red;
    border-color: $red;
    color: $white;
  }
  &--light_grey{
    background: $light_grey;
    border-color: $light_grey;
    color: $black;
  }
  &--green_sea{
    background: $white;
    border-color: $green_sea;
    color: $green_sea;
  }
}