.btn {

}

.btn {
  &--lg {

    margin: 0px auto;
    text-align: center;
    width: 301px;
    height: 63px;
    border: 3px solid;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--md {
    margin: 10px auto;
    text-align: center;
    line-height: 41px;
    width: 151px;
    height: 41px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--rd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    line-height: 41px;
    width: 200px;
    height: 55px;
    border: 2px solid;
    border-radius: 2.5rem;
  }
}

.btn {
  a {
    text-decoration: none;
  }
  &--black {
    border-color: $black;
    p{
      color: $black;
    }
  }

  &--green {
    background: $emeraud;
    border-color: $emeraud;
    p{
      color: $white;
    }
  }

  &--red {
    background: $red;
    border-color: $red;
    p{
      color: $white;
    }
  }

  &--light_grey {
    background: $light_grey;
    border-color: $black;
    p{
      color: $black;
    }
  }

  &--green_sea {
    background: $white;
    border-color: $green_sea;
    p{
      color: $green_sea;
    }
  }
  &--blue{
    background: $blue;
    border-color: $blue;
    color: $white;
    p{
      color: $white;
    }
  }
  &--white{
    background: none;
    border-color: $white;
    color: $white;
    p{
      color: $white;
    }
  }

}


//class="btn btn-gree btn-lg"
