
.card{
  &.is_open{
    background: #fff;
  }
}
.card {
  position: relative;
  background: $white;
  width: 200px; height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px 0 50px ;
  box-shadow: rgba(88, 88, 88, 0.5) 5px 13px 26px 6px;
  max-width: 90%;


  .cross {
    position: absolute;
    font-size: 25px;
    top: 20px;
    right: 30px;
  }

  .header {
    margin-top: 5px;
    text-align: center;
  }

  .content {
    margin-top: 5px;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
    button {
      margin: 10px 15px;
      cursor:pointer;
    }
  }
  .circle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px $dark_grey solid;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    p{
      font-size: 80px;
      color: $dark_grey;
      text-align: center;
      line-height: 95px;
      cursor: pointer;
    }
  }
}


.containeur_colone {
    width: 100%;
    min-width: 100%;
    height: 80%;
    top: 10%;
    position: absolute;
    overflow-y: hidden;
    overflow-x: scroll;
}

.little{
  margin: 20px 0;
  position: relative;
  background: #fff;
  width: 250px;
  height: auto;
  min-height: 100px;
  top: 5%;
  /* top: 18%; */
  left: 50%;
  transform: translate(-50%, -50%);
 //padding: 10px 30px 10px 50px;
  padding: 0;
box-shadow: rgba(88, 88, 88, 0.5) 5px 13px 26px 6px;

 .pencil {
     position: absolute;
     font-size: 10px;
     top: 10px;
     right: 25px;
     cursor: pointer;
     color: $emeraud;
 }
 .cross {
     position: absolute;
     font-size: 12px;
     top: 10px;
     right: 10px;
     cursor: pointer;
     color: $red;
 }
&.add{
background: none;
box-shadow: none;
.circle{
  border-color:#fff;
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
  top: calc(50% - 25px);

p{
  position: relative;
  color: #ffffff;
  font-size: 40px;
  line-height: 50px;
}
}

}
  .text{
    position: absolute;
    width: 100%;
    height: 100%;

    p{
      position: relative;
      text-align: center;
      padding: 20px 0px;
    }
  }

  .card_titre{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: $black;
  }
  .card_desc{
    margin: 10px;
    text-transform: capitalize;
    font-size: oblique 40deg;
  }
  .card_stat{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: $emeraud;
    font-size: 13px;
  }
}
.card:first-child{
  margin-top: 40px;
}
@media  screen and (max-width: 900px) {
  .card {
    height: 120px;

    .circle{
      border-color:$black;
      width: 50px;
      height: 50px;
      left: calc(50% - 25px);
      top: calc(50% - 25px);

      p{
        position: relative;
        color: $black;
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
  .card {
    &.little{
      height: 65px;
    }
  }
  }
