.form_input {
  padding: 10px 0 10px 10px;
  width: 50%;
  &:focus {
    outline:none;
    border: 3px solid $black;
  }
}

.form_button:focus {
  outline: none;
}
.form_button{
  cursor: pointer;
  :focus {
    outline: none;
  }
}

.form_button:disabled {
  cursor: default;
  opacity: 0.5;
}

.form_validation, .form_error {
  width: 75%;
  margin: 15px auto auto auto;
  p {
    text-align: center;
    padding: 10px 10px;
    white-space: pre-line;
  }
}

.form_error {
  background-color: $red;
}

.form_validation {
  background-color: $emeraud;
  p {
    color: $white;
  }
}

.form_select {
  margin: auto;
  width: 75%;
}
