.radio-style {
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 15px ;
    height: 15px;
    border: 2px solid $dark_blue;
    background: #fff;
    border-radius: 100%;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6.5px;
    top: 6.5px;
    background-color: $red;
    transition: all .2s;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
}
