.form_sprint {
  display: flex;
  flex-direction: column;
  .form_input {
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .form_select {
    margin-top: 20px;
    width: 60%;
  }
  .form_button  {
    margin-top: 30px;
    cursor: pointer;
  }
}
